body{
    margin: 0;
    font-size: 14px;
    font-family: Calibri;
    font-weight: 300;
    line-height: 1.5;
}
.desktop-header{
    height: 3em;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: flex-start   ;
    box-shadow: hsla(0, 0%, 0%, 0.349) 0px 3px 2px; 
}
.app-logo img{
    padding-top: 0.25em;
    margin: 0.75em;
    height: 2em;
    width: auto;
}
.greeting{
    font-weight: 400;
    color: #222;
}
.app-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center ;
    align-items: center;
    padding-top: 1em;
}
.main-title{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}
.task-input{
    border: 1px solid #22222221;
    box-shadow: hsla(0, 0%, 0%, 0.151) 0px 3px 2px; 
    border-radius: 3em;
    height: 2em;
    width: 30em;
    text-indent: 1em;
    object-position: center;
}
.options-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 3em;
    width: 30em;
    font-weight: 900;    
}
.list-container{
    display: flex;
    flex-flow: column nowrap;
}
.task-item{
    padding: 0;
    margin: 1em;
    min-height: 2.5em;
    border-radius: 6px;
    border: 1px solid #22222221;
    width: 30em;
    box-shadow: hsla(0, 0%, 0%, 0.151) 0px 3px 2px;
    list-style-type: none;
    list-style: none;
}
.taskList{
    padding: 0;
}
.task-completed{
    font-style: oblique;
}
.primary-button{
    margin: 1em;
    width: 40%;
    height: 2.5em;
    background-color: #45fcc5;
    border: 1px solid #22222221;
    box-shadow: hsla(0, 0%, 0%, 0.151) 0px 3px 2px;
    font-weight: 700;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 3em;
}
.primary-button:hover{
    scale: 1.05;
}
.secondary-button{
    margin: 1em;
    width: 40%;
    height: 2.5em;
    background-color: white;
    border: 2px solid #45fcc5;
    box-shadow: hsla(0, 0%, 0%, 0.151) 0px 3px 2px;
    font-weight: 700;
    color: #45fcc5;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 3em;
}
.secondary-button:hover{
    scale: 1.05;
}

@media (max-width: 400px) {
    .greeting{
        display: none;
    }
    
}